@{
    ViewData["Title"] = "Conta Bloqueada";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Esta conta foi bloqueada. Favor entrar em contato com suporte.sp@powerconn.us.</p>
</header>
