@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Dashboard PWC";
}
<div class="text-left">
    <p style="font-weight:900">Dashboard PWC</p>
</div>
<div class="row">
  
</div>